/*#div-thongtin {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}*/
#div-form{
    margin: 50px;
}
