
@{
    ViewBag.Title = "DeskTopComputer";
    Layout = "~/Views/Shared/_MasterLayout3.cshtml";
}
<link href="~/Content/stylepro.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2 style="text-align:center; font-size:small">Desktop Computer</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
        <div class="col-lg3 col-md-4 col-sm-6">
            <div class="box">
                <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
                <div class="chitiet">
                    <p class="des">Mã SP: SP01</p>
                    <p class="des">Tên SP: Acer</p>
                    <p class="des">Giá: 10.000.000</p>
                </div>
            </div>
        </div>
    </div>
</div>

