
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_MasterLayout3.cshtml";
}
<link href="~/Content/stylepro.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2 style="text-align:center;">Danh sách sản phẩm</h2>
<div id="div-pro-list">
    <div class="box">
        <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
        <div class="chitiet">
            <p class="des">Mã SP: SP01</p>
            <p class="des">Tên SP: Acer</p>
            <p class="des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box">
        <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
        <div class="chitiet">
            <p class="des">Mã SP: SP01</p>
            <p class="des">Tên SP: Acer</p>
            <p class="des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box">
        <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
        <div class="chitiet">
            <p class="des">Mã SP: SP01</p>
            <p class="des">Tên SP: Acer</p>
            <p class="des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box">
        <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
        <div class="chitiet">
            <p class="des">Mã SP: SP01</p>
            <p class="des">Tên SP: Acer</p>
            <p class="des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box">
        <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
        <div class="chitiet">
            <p class="des">Mã SP: SP01</p>
            <p class="des">Tên SP: Acer</p>
            <p class="des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box">
        <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
        <div class="chitiet">
            <p class="des">Mã SP: SP01</p>
            <p class="des">Tên SP: Acer</p>
            <p class="des">Giá: 10.000.000</p>
        </div>
    </div>    <div class="box">
        <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
        <div class="chitiet">
            <p class="des">Mã SP: SP01</p>
            <p class="des">Tên SP: Acer</p>
            <p class="des">Giá: 10.000.000</p>
        </div>
    </div>
    <div class="box">
        <img src="https://mega.com.vn/media/news/827_danh_gia_laptop_acer_gaming_nitro_5_tiger_an515_58_52_sp.jpg" alt="Alternate Text" class="size-img" />
        <div class="chitiet">
            <p class="des">Mã SP: SP01</p>
            <p class="des">Tên SP: Acer</p>
            <p class="des">Giá: 10.000.000</p>
        </div>
    </div>
</div>
